name: Release Mobile Android Logging
on:
  push:
    branches: [ main ]

jobs:
  bump_version:
    env:
      JDK_VERSION: 17
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-24.04

    steps:
      - name: Run deployment workflow
        uses: govuk-one-login/mobile-android-pipelines@a624442bfd59de6a8ab7f8a5cd1c9809df0da538
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
